@{
    ViewBag.Title = "Index";
}


<h2>MVC - Entity Framework</h2>
<div class="acoes">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Página inicial</h2>
        </div>
        <div class="acoes panel body">
            <p>
                Aplicação de teste para entendimento do funcionamento do ASP.NET 
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Menus</h2>
        </div>
        <div class="acoes panel body">
            <p>Acesse os menus para visualizar a manutenção dos respectivos campos</p>
        </div>
    </div>
</div>


